    <footer class="footer">
      <div class="navbar navbar-default navbar-fixed-bottom">
      	<div class="container-fluid">
      		<div class="row">
      			<div class="col-xs-6 col-md-4" style="text-align: left;">
      			</div>	
      			<div class="col-xs-6 col-md-4" style="text-align: center;">
                	<h4>
                		Our Background &amp; Our Circumstances May Have Influenced Who We Are, 
		                	However We Are Still Responsible 
		                	For Who We Become.
		            </h4>
                	
                	<h4><b>B</b>etter <b>Y</b>outh <b>A</b>wareness &amp; <b>R</b>esponse <b>S</b>ervices</h4>
                </div>
                <div class="col-xs-6 col-md-4" style="text-align: center;">	
					<a  class="navbar-right" href="/home/index" title="Byars Youth">
					  	 Byars Youth Copyright <%= Time.current.year %>
				         <img style="max-width:70%; margin-top: 15px; padding-right=0px;" class="img-responsive" src="/assets/BYARSsmaller_LOGO.ico" alt="Byars Youth" > 
				    </a>
			    </div>
			 </div> 
		</div>
      </div>
    </footer>
