    <footer class="footer">
      <div class="navbar navbar-default navbar-fixed-bottom">
      		<div class="navbar-right" style="vertical-align:bottom; >
      		  <p style="vertical-align:bottom;">
	      		  Byars Youth Copyright <%= Time.current.year %>
				  <a  class="navbar-right" href="/home/index" title="Byars Youth">
			         <img style="max-width:80%; margin-top: -7px; padding-right=0px;" class="img-responsive" src="/assets/BYARSsmaller_LOGO.ico" alt="Byars Youth" > 
			      </a>
		      </p> 
			</div>
      </div>
    </footer>
