<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>
		<div class="media">
			<div class="media-left">
				<a href="#">
					<img class="media-object" src="http://www.gravatar.com/avatar/424242">
				</a>
			</div>
			<div class="media-body">
			 <h4 class="media-heading">user@email.com asked:</h4>
			 Lorem ipsum folor sit amte, conseturtur adipisicn elit. Dolore, epedita. Ullam
			 voluptatem suscipit, modit curruti assumenda fugait a qui ex dolorum , arhcitecto
			 nulla quia accuatimu , vitae consecturue cum doloribus debitis.
			</div>
		</div>	